@use "./variables.scss" as *;
body {
  background-color: $background-color;
  font-family: "Inter";
}
.app-box {
  display: flex;
}

.main-app {
  padding: 7em 10em;
  flex-grow: 1;
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin: 0 auto;
  h1 {
    font-weight: 600;
    padding-bottom: 0.3em;
    color: $title-text-color;
    border-bottom: 1px solid $title-text-color;
  }
}

.task-list {
  display: flex;
  flex-direction: column;
}
