.select-wrapper {
  position: relative;
  margin: 1em;
  select {
    padding: 10px 20px 10px 10px;
    padding-left: 2.5em;
    -webkit-appearance: none;
    -ms-appearance: none;
    font-weight: 800;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    z-index: 10;
    color: color-mix(in srgb, var(--color-attr) 70%, rgb(0, 0, 0));
  }
  option:hover {
    color: red !important;
  }
}
.select-wrapper:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-attr);
  font-family: "FontAwesome";
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 5;
  pointer-events: none;
}
