@use "variables" as *;
$primary: $accent;
$secondary: rgb(228, 228, 228);
$info: blue;
$font-family-sans-serif: "Inter";
$font-family-base: "Inter";
$font-family-monospace: "Inter";
@import "../../node_modules/bootstrap/scss/bootstrap";
