@use "./variables.scss" as *;
.date-button {
  font-weight: 500;
  background-color: inherit;
  outline: none;
  border: none;
  overflow: visible !important;
  border: 2px solid $border-color;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  display: flex;
  align-items: center;
  font-size: 0.5em;
  .icon {
    width: 16px;
    margin: 0.3em;
    * {
      outline: black solid 1px;
    }
  }
  &::after {
    display: none !important;
  }
  z-index: 1000;
  .fa-x {
    color: white;
    height: 100%;
    opacity: 0.7;
    margin: auto;
    margin-left: 1em;
  }
}
.date-menu {
  .option {
    margin: 1em;
    font-size: 0.9e;
    width: 80%;
    border-radius: 2px;
    background-color: transparent !important;
    color: $text-color-primary !important;
  }
  .icon {
    margin: 0.2em;
    width: 40px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
  }
  .fa-calendar {
    color: $text-green;
  }
  .fa-sun {
    color: $text-yellow;
  }
  .fa-couch {
    color: $text-blue;
  }
  .fa-arrow-right {
    color: $text-purple;
  }
}

.today {
  color: $text-green;
}
.this-week {
  color: $text-blue;
}
