@use "./variables.scss" as *;

.task-wrapper {
  display: flex;
  .utilities {
    opacity: 0;
    transition: 0.3s;
    display: flex;
    margin-top: 1.2em;
  }
  .utilities.hover {
    opacity: 1;
  }
  .utility {
    padding: 5px;
    transition: 300ms;
    height: 2em;
    border-radius: 5px;
    color: rgb(107, 33, 50);

    svg {
      height: 20px;
    }
    &:hover {
      color: $accent;
      background-color: #dfdfdf;
    }
  }
}
.task {
  display: flex;
  transition: 200ms;
  flex-grow: 1;
  margin: 1em;
  margin-left: 0;
  input {
    width: 2em;
    height: 2em;
    margin-right: 1em;
  }
  div {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 1em;
    font-weight: 700;
    color: #242424;
  }
  p {
    font-size: 0.9em;
    color: #595959;
  }
  &:hover {
    h1 {
      font-weight: 2em;
      color: black;
      font-weight: 800;
    }

    p {
      color: #141414;
    }
    .late {
      color: rgb(216, 41, 41);
    }
  }

  &.true {
    * {
      text-decoration: line-through;
    }
    div {
      opacity: 0.6;
    }
  }
  .late {
    font-weight: 600;
    color: rgb(169, 49, 49);
  }
}
.project-select {
  cursor: pointer;

  margin: auto;
  margin-left: 1.4rem;
  font-weight: 500;
  transition-duration: 300ms;
  letter-spacing: -0.03em;
  border-radius: 9px;
  .fa-solid {
    margin-right: 1em;
    margin-left: 1em;
  }
  font-size: 1.1rem;
  color: #1b1919;
  padding: 0.75rem 0.25em;
  &:hover {
    background-color: #dfdcdc9a;
  }
}
