$background-color: white;
$text-color-secondary: #595959;
$text-color-secondary-dark: #838383;
$text-on-accent: #f05d5d;
$accent: #d62b2b;

$accent-translucent: hsla(0, 60%, 48%, 0.397);

$tag-color-1: #ffdc5f;
$tag-color-2: #71dc7b;
$tag-color-3: #58c3ff;
