$background-color: white;
$text-color-secondary: #595959;
$text-color-secondary-dark: #838383;
$text-on-accent: #f05d5d;
$text-color-primary: #202020;
$accent: #d62b2b;
$title-text-color: #070514;
$border-color: #d3d3d3;
$discrete-border-color: #e3e3e3;
$accent-translucent: #bb4141;

$tag-color-1: #ffdc5f;
$tag-color-2: #71dc7b;
$tag-color-3: #58c3ff;

$text-green: #058527;
$text-blue: #086397;
$text-yellow: #c0a853fb;
$text-purple: #6a0897;
